.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.icon-arrow-down {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-arrow-left--slim {
  font-size:(32/10)*1rem;
  width:(19/32)*1em;
}
.icon-arrow-right {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-arrow-right--slim {
  font-size:(32/10)*1rem;
  width:(19/32)*1em;
}
.icon-bubbles {
  font-size:(32/10)*1rem;
  width:(36/32)*1em;
}
.icon-caret-down {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-check {
  font-size:(32/10)*1rem;
  width:(28/32)*1em;
}
.icon-close {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-coin-dollar {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-email {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-facebook {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-file-text {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-handshake {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-odnoklassniki {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-phone {
  font-size:(32/10)*1rem;
  width:(31/32)*1em;
}
.icon-phone-mobile {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-reverse {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-rotate-right {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-search {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-sign-in {
  font-size:(32/10)*1rem;
  width:(31/32)*1em;
}
.icon-sign-out {
  font-size:(32/10)*1rem;
  width:(31/32)*1em;
}
.icon-stack {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-truck {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-twitter {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-user {
  font-size:(32/10)*1rem;
  width:(35/32)*1em;
}
.icon-users {
  font-size:(32/10)*1rem;
  width:(36/32)*1em;
}
.icon-vk {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-zoom {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
